.gallery-wrapper {
  border-top: 1px solid #3338;
  border-bottom: 1px solid #3338;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 30rem;
}
