.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #3338;
  border-bottom: 1px solid #3338;
  height: 80vh;
}
.image-poster {
  background-color: lightgrey;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
}
.image {
  display: block;
  width: 100%;
}
.image-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.image-description {
  font-size: 1.2rem;
}
