.header-wrapper {
  // border-bottom: 1px solid #3338;
  height: 8vh;
  line-height: 7rem;
  display: flex;
  justify-content: space-between;

  .image-wrapper {
    height: 7rem;
    .logo-image {
      height: 100%;
    }
  }
  .social-wrapper {
    display: flex;
  }
  .social {
    display: inline;
    width: 40px;
    height: 40px;
    img {
      height: 7rem;
    }
  }
}
