.header-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    padding: 2rem;
    .avatar {
      width: 30%;
      margin-left: 1rem;
      margin-right: 3rem;
      img {
        width: 224px;
      }
    }
    .follow {
      margin-left: 3rem;
      display: flex;
      justify-items: center;
      justify-content: start;
      flex-direction: column;
      .row {
        display: flex;
        margin: 0.75rem;
        .space-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          .space {
            margin-right: 3rem;
            button {
              border: none;
              border-radius: 5px;
              width: 100px;
              height: 25px;
              background-color: lightgrey;
            }
          }
        }
        h3 {
          margin-right: 2rem;
        }
      }
    }
    // border-bottom: 1px solid #3338;
  }
  .gallery-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: grey;
      margin: 0rem 2rem;
    }
    a:hover {
      color: black;
    }
  }
}
